loopback_users.guest = false

## Send all logs to stdout/TTY. Necessary to see logs when running via
## a container
log.console = true

# SSL configuration
# ssl_options.cacertfile      = /configs/certs/server.crt
# ssl_options.certfile        = /configs/certs/server.crt
# ssl_options.keyfile         = /configs/certs/server.key
# management.ssl.cacertfile = /configs/certs/server.crt
# management.ssl.certfile   = /configs/certs/server.crt
# management.ssl.keyfile    = /configs/certs/server.key
# ssl_options.verify         = verify_none
# ssl_options.fail_if_no_peer_cert = false
# listeners.ssl.default = 5671
# management.ssl.port = 15671